html, body {
    height: 100%;
    min-height: 100%;
}
		
#blocklyArea {
    height: 85%;
    padding: 0px;
    margin: 0px;
    width: 100% !important;
}

.jumbotron {
    padding-bottom: 0px !important;
}

/* Stupidly specific to make it win */
nav > div.container > div.sievely-hidden {
    display: none !important;
}
